<h3>All Exhibits</h3>

<ol>
  <% @exhibits.each do |exhibit| %>
  <li>
    <td><%= exhibit.name exhibit_path(exhibit) %></td>
    <td><%= exhibit.origin exhibit_path(exhibit) %></td>
    <td><%= exhibit.age exhibit_path(exhibit) %></td>
    <td><%= exhibit.user.username%></td>
  </li>

  <% end %>
</ol>
